{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "prettier",
    "plugin:prettier/recommended",
    "react-app"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "prettier/prettier": "warn",
    "class-methods-use-this": 0,
    "no-bitwise": 0,
    "no-plusplus": 0,
    "no-restricted-syntax": 0,
    "no-mixed-operators": 0,
    "no-multi-spaces": [
      "error",
      {
        "ignoreEOLComments": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "no-underscore-dangle": 0
  }
}
