.higlass-block {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.higlass-block:hover,
.panZoomTip:hover + .higlass-block {
  box-shadow: inset 0 0 0 2px #aaa;
}

.higlass-block:focus,
.higlass-block:focus-within,
.higlass-block.focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #dd55a5;
  pointer-events: none;
}

.higlass-container:hover .higlass-block.focus {
  box-shadow: inset 0 0 0 2px #cc0078;
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
    transform: translate(0, -1.5rem);
  }
}
