.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.track-mouseover-menu {
  padding: 0.25rem;
}

.track-mouseover-menu p {
  margin: 0 !important;
}
