.Viewer aside {
  position: absolute;
  left: 1rem;
  top: 1rem;
  bottom: 1rem;
  width: 24rem;
  padding: 0 10px;
  border-right: 1px solid #eee;
}

.Viewer aside label {
  margin-bottom: 0.125rem;
}

.Viewer aside .main-label {
  margin-top: 1rem;
}

.Viewer .higlass-container {
  position: absolute;
  left: 25rem;
  top: 1rem;
  bottom: 1rem;
  right: 1rem;
}

.track-mouseover-menu {
  padding: 0.25rem;
}

.track-mouseover-menu p {
  margin: 0 !important;
}
